{% extends "AppSiteBundle::pagelayout.html.twig" %}
{% block style %}
style="background-color:#3d5462"
{% endblock %}
{% block content %}
    <div class="container-fluid" id="hgallery">

                <div class="col-sm-6 bg-color">
                    <h2>
                        {{ 'app.title.gallery_show'|trans }} {{ ('app.filter.' ~ title_txt)|trans }}
                    </h2>
                    {{ ez_render_field(gallery, attribute_txt) }}

                </div>

                <div class="col-sm-6">

                    <div id="myCarousel" class="carousel multi-item-carousel slide">
                        <!-- Carousel items -->
                        {% if gallery_items|length > 0 %}
                        <div class="carousel fdi-Carousel slide" id="galleryCarousel" data-interval="0">
                            <div class="carousel-inner onebyone-carosel">
                                {% for item in gallery_items %}
                                    <div class="item {% if loop.index0 == 0 %} active {% endif %}">
                                        <div class="col-md-12 item-picture">
                                    {% if not ez_is_field_empty(item, 'facebook_url') %}<a href="{{ ez_field_value(item, 'facebook_url') }}" target="_blank">{% endif %}
                                                {{ ez_render_field(item, 'image', {
                                                    parameters: {
                                                        class: 'img-responsive'
                                                    }
                                                }) }}
                                        {% if not ez_is_field_empty(item, 'facebook_url') %}</a>{% endif %}
                                            <div class="text-center text-bottom">
                                                <p class="title-gallery">{{ ez_render_field(item, 'title') }}</p>
                                                <p><i>{{ ez_render_field(item, 'method') }}</i></p>
                                                <p>{{ ez_render_field(item, 'size') }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            {% if gallery_items|length > 1 %}
                                <a class="left carousel-control" href="#galleryCarousel" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#galleryCarousel" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            {% endif %}
                        </div>
                        <!--/carousel-inner-->
                        {% else %}
                            <div class="no-element">
                               {{ 'app.title.no_element'|trans }}
                            </div>
                        {% endif %}
                    </div><!--/myCarousel-->

            </div>

    </div>
{% endblock %}