{% extends "AppSiteBundle::pagelayout.html.twig" %}

{% block top_content %}
    <header>
        <div class="container-fluid">
            <div class="col-md-6 col-md-push-6">
                {{ ez_render_field(content, 'image_top', {
                    parameters: {
                        alias: 'top_image',
                        class: 'img-responsive img-header'
                    }
                }) }}
            </div>
            <div class="col-md-6 text-center col-md-pull-6" id="header-text">
                <h1>{{ 'app.title_site'|trans|raw }}</h1>
                <ul class="nav sociaux">
                    {% if not ez_is_field_empty(content, 'facebook_url') %}
                        <li>
                            <a class="btn btn-social-icon btn-fb" href="{{ ez_field_value(content, 'facebook_url') }}" target="_blank"><i class="fa fa-facebook-official"></i></a>
                        </li>
                    {% endif %}
                    {% if not ez_is_field_empty(content, 'instagram_url') %}
                        <li>
                            <a class="btn btn-social-icon btn-instagram" href="{{ ez_field_value(content, 'instagram_url') }}" target="_blank"><i class="fa fa-instagram"></i></a>
                        </li>
                    {% endif %}
                    {% if not ez_is_field_empty(content, 'linkedin_url') %}
                        <li>
                            <a class="btn btn-social-icon btn-linkedin" href="{{ ez_field_value(content, 'linkedin_url') }}" target="_blank"><i class="fa fa-linkedin-square"></i></a>
                        </li>
                    {% endif %}
                    {% if not ez_is_field_empty(content, 'email') %}
                        <li>
                            <a class="btn btn-social-icon btn-contact page-scroll" href="mailto:{{ ez_field_value(content, 'email') }}"><i class="fa fa-envelope-o"></i></a>
                        </li>
                    {% endif %}
                </ul>
                <a class="page-scroll" href="#about">
                    <div class="mouse-icon">
                        <div class="wheel"></div>
                    </div>
                </a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}

        <!--<section id="homepage" class="no-padding">
    </section>-->
    {#{ ez_render_field(content, 'image_banner', {
        parameters: {
            alias: 'banner_image',
            class: 'hide img-banner'
        }
    }) }}
    {{ ez_render_field(content, 'image_banner_mobile', {
        parameters: {
            alias: 'banner_image_mobile',
            class: 'hide img-banner-mobile'
        }
    }) }#}
    {#% if news|length > 0 %}
        {% include 'AppSiteBundle::content/parts/news.html.twig' with {'news': news} %}
    {% endif %#}
    {% include 'AppSiteBundle::content/parts/biography.html.twig' %}
    {#% if gallery_items|length %}
        {% include 'AppSiteBundle::content/parts/gallery.html.twig' with {'gallery_items': gallery_items} %}
    {% endif %#}
{% endblock %}